:root {
  color-scheme: light dark;

  --ui-primary-light: dodgerblue;
  --ui-primary-dark: color-mix(in oklab, dodgerblue, white 20%);

  --ui-primary: light-dark(var(--ui-primary-light), var(--ui-primary-dark));
  
  --ui-neutral: #8b8c93;
  --ui-constructive: #5dbb55;
  --ui-destructive: #ef5655;

  --ui-color1: crimson;
  --ui-color2: gold;
  --ui-color3: forestgreen;
  --ui-color4: royalblue;
  --ui-color5: slateblue;
  --ui-color6: plum;

  --ui-primary-50: light-dark(color-mix(in oklab, var(--ui-primary), white 95%), color-mix(in oklab, var(--ui-primary), black 73.75%));

  --ui-primary-100: light-dark(color-mix(in oklab, var(--ui-primary), white 87%), color-mix(in oklab, var(--ui-primary), black 58.5%));

  --ui-primary-200: light-dark(color-mix(in oklab, var(--ui-primary), white 70%), color-mix(in oklab, var(--ui-primary), black 43.5%));

  --ui-primary-300: light-dark(color-mix(in oklab, var(--ui-primary), white 47%), color-mix(in oklab, var(--ui-primary), black 28.25%));

  --ui-primary-400: light-dark(color-mix(in oklab, var(--ui-primary), white 23%), color-mix(in oklab, var(--ui-primary), black 15.5%));

  --ui-primary-500: var(--ui-primary);

  --ui-primary-600: light-dark(color-mix(in oklab, var(--ui-primary), black 15.5%), color-mix(in oklab, var(--ui-primary), white 23%));

  --ui-primary-700: light-dark(color-mix(in oklab, var(--ui-primary), black 28.25%), color-mix(in oklab, var(--ui-primary), white 47%));

  --ui-primary-800: light-dark(color-mix(in oklab, var(--ui-primary), black 43.5%), color-mix(in oklab, var(--ui-primary), white 70%));

  --ui-primary-900: light-dark(color-mix(in oklab, var(--ui-primary), black 58.5%), color-mix(in oklab, var(--ui-primary), white 87%));

  --ui-primary-950: light-dark(color-mix(in oklab, var(--ui-primary), black 73.75%), color-mix(in oklab, var(--ui-primary), white 95%));

  --ui-neutral-0: light-dark(color-mix(in oklab, var(--ui-neutral), white 100%), color-mix(in oklab, var(--ui-neutral), black 100%));

  --ui-neutral-50: light-dark(color-mix(in oklab, var(--ui-neutral), white 95%), color-mix(in oklab, var(--ui-neutral), black 73.75%));

  --ui-neutral-100: light-dark(color-mix(in oklab, var(--ui-neutral), white 88%), color-mix(in oklab, var(--ui-neutral), black 68%));

  --ui-neutral-200: light-dark(color-mix(in oklab, var(--ui-neutral), white 77%), color-mix(in oklab, var(--ui-neutral), black 60%));

  --ui-neutral-300: light-dark(color-mix(in oklab, var(--ui-neutral), white 60%), color-mix(in oklab, var(--ui-neutral), black 45%));

  --ui-neutral-400: light-dark(color-mix(in oklab, var(--ui-neutral), white 40%), color-mix(in oklab, var(--ui-neutral), black 25%));

  --ui-neutral-500: var(--ui-neutral);

  --ui-neutral-600: light-dark(color-mix(in oklab, var(--ui-neutral), black 15.5%), color-mix(in oklab, var(--ui-neutral), white 23%));

  --ui-neutral-700: light-dark(color-mix(in oklab, var(--ui-neutral), black 28.25%), color-mix(in oklab, var(--ui-neutral), white 47%));

  --ui-neutral-800: light-dark(color-mix(in oklab, var(--ui-neutral), black 43.5%), color-mix(in oklab, var(--ui-neutral), white 70%));

  --ui-neutral-900: light-dark(color-mix(in oklab, var(--ui-neutral), black 58.5%), color-mix(in oklab, var(--ui-neutral), white 87%));

  --ui-neutral-950: light-dark(color-mix(in oklab, var(--ui-neutral), black 73.75%), color-mix(in oklab, var(--ui-neutral), white 95%));

  --ui-neutral-1000: light-dark(color-mix(in oklab, var(--ui-neutral), black 100%), color-mix(in oklab, var(--ui-neutral), white 100%));

  --ui-constructive-50: light-dark(color-mix(in oklab, var(--ui-constructive), white 95%), color-mix(in oklab, var(--ui-constructive), black 73.75%));

  --ui-constructive-100: light-dark(color-mix(in oklab, var(--ui-constructive), white 87%), color-mix(in oklab, var(--ui-constructive), black 58.5%));

  --ui-constructive-200: light-dark(color-mix(in oklab, var(--ui-constructive), white 70%), color-mix(in oklab, var(--ui-constructive), black 43.5%));

  --ui-constructive-300: light-dark(color-mix(in oklab, var(--ui-constructive), white 47%), color-mix(in oklab, var(--ui-constructive), black 28.25%));

  --ui-constructive-400: light-dark(color-mix(in oklab, var(--ui-constructive), white 23%), color-mix(in oklab, var(--ui-constructive), black 15.5%));

  --ui-constructive-500: var(--ui-constructive);

  --ui-constructive-600: light-dark(color-mix(in oklab, var(--ui-constructive), black 15.5%), color-mix(in oklab, var(--ui-constructive), white 23%));

  --ui-constructive-700: light-dark(color-mix(in oklab, var(--ui-constructive), black 28.25%), color-mix(in oklab, var(--ui-constructive), white 47%));

  --ui-constructive-800: light-dark(color-mix(in oklab, var(--ui-constructive), black 43.5%), color-mix(in oklab, var(--ui-constructive), white 70%));

  --ui-constructive-900: light-dark(color-mix(in oklab, var(--ui-constructive), black 58.5%), color-mix(in oklab, var(--ui-constructive), white 87%));

  --ui-constructive-950: light-dark(color-mix(in oklab, var(--ui-constructive), black 73.75%), color-mix(in oklab, var(--ui-constructive), white 95%));

  --ui-destructive-50: light-dark(color-mix(in oklab, var(--ui-destructive), white 95%), color-mix(in oklab, var(--ui-destructive), black 73.75%));

  --ui-destructive-100: light-dark(color-mix(in oklab, var(--ui-destructive), white 87%), color-mix(in oklab, var(--ui-destructive), black 58.5%));

  --ui-destructive-200: light-dark(color-mix(in oklab, var(--ui-destructive), white 70%), color-mix(in oklab, var(--ui-destructive), black 43.5%));

  --ui-destructive-300: light-dark(color-mix(in oklab, var(--ui-destructive), white 47%), color-mix(in oklab, var(--ui-destructive), black 28.25%));

  --ui-destructive-400: light-dark(color-mix(in oklab, var(--ui-destructive), white 23%), color-mix(in oklab, var(--ui-destructive), black 15.5%));

  --ui-destructive-500: var(--ui-destructive);

  --ui-destructive-600: light-dark(color-mix(in oklab, var(--ui-destructive), black 15.5%), color-mix(in oklab, var(--ui-destructive), white 23%));

  --ui-destructive-700: light-dark(color-mix(in oklab, var(--ui-destructive), black 28.25%), color-mix(in oklab, var(--ui-destructive), white 47%));

  --ui-destructive-800: light-dark(color-mix(in oklab, var(--ui-destructive), black 43.5%), color-mix(in oklab, var(--ui-destructive), white 70%));

  --ui-destructive-900: light-dark(color-mix(in oklab, var(--ui-destructive), black 58.5%), color-mix(in oklab, var(--ui-destructive), white 87%));

  --ui-destructive-950: light-dark(color-mix(in oklab, var(--ui-destructive), black 73.75%), color-mix(in oklab, var(--ui-destructive), white 95%));

  --ui-color1-50: light-dark(color-mix(in oklab, var(--ui-color1), white 95%), color-mix(in oklab, var(--ui-color1), black 73.75%));

  --ui-color1-100: light-dark(color-mix(in oklab, var(--ui-color1), white 87%), color-mix(in oklab, var(--ui-color1), black 58.5%));

  --ui-color1-200: light-dark(color-mix(in oklab, var(--ui-color1), white 70%), color-mix(in oklab, var(--ui-color1), black 43.5%));

  --ui-color1-300: light-dark(color-mix(in oklab, var(--ui-color1), white 47%), color-mix(in oklab, var(--ui-color1), black 28.25%));

  --ui-color1-400: light-dark(color-mix(in oklab, var(--ui-color1), white 23%), color-mix(in oklab, var(--ui-color1), black 15.5%));

  --ui-color1-500: var(--ui-color1);

  --ui-color1-600: light-dark(color-mix(in oklab, var(--ui-color1), black 15.5%), color-mix(in oklab, var(--ui-color1), white 15%));

  --ui-color1-700: light-dark(color-mix(in oklab, var(--ui-color1), black 28.25%), color-mix(in oklab, var(--ui-color1), white 47%));

  --ui-color1-800: light-dark(color-mix(in oklab, var(--ui-color1), black 43.5%), color-mix(in oklab, var(--ui-color1), white 70%));

  --ui-color1-900: light-dark(color-mix(in oklab, var(--ui-color1), black 58.5%), color-mix(in oklab, var(--ui-color1), white 87%));

  --ui-color1-950: light-dark(color-mix(in oklab, var(--ui-color1), black 73.75%), color-mix(in oklab, var(--ui-color1), white 95%));

  --ui-color2-50: light-dark(color-mix(in oklab, var(--ui-color2), white 95%), color-mix(in oklab, var(--ui-color2), black 73.75%));

  --ui-color2-100: light-dark(color-mix(in oklab, var(--ui-color2), white 87%), color-mix(in oklab, var(--ui-color2), black 58.5%));

  --ui-color2-200: light-dark(color-mix(in oklab, var(--ui-color2), white 70%), color-mix(in oklab, var(--ui-color2), black 43.5%));

  --ui-color2-300: light-dark(color-mix(in oklab, var(--ui-color2), white 47%), color-mix(in oklab, var(--ui-color2), black 28.25%));

  --ui-color2-400: light-dark(color-mix(in oklab, var(--ui-color2), white 23%), color-mix(in oklab, var(--ui-color2), black 15.5%));

  --ui-color2-500: var(--ui-color2);

  --ui-color2-600: light-dark(color-mix(in oklab, var(--ui-color2), black 15.5%), color-mix(in oklab, var(--ui-color2), white 15%));

  --ui-color2-700: light-dark(color-mix(in oklab, var(--ui-color2), black 28.25%), color-mix(in oklab, var(--ui-color2), white 47%));

  --ui-color2-800: light-dark(color-mix(in oklab, var(--ui-color2), black 43.5%), color-mix(in oklab, var(--ui-color2), white 70%));

  --ui-color2-900: light-dark(color-mix(in oklab, var(--ui-color2), black 58.5%), color-mix(in oklab, var(--ui-color2), white 87%));

  --ui-color2-950: light-dark(color-mix(in oklab, var(--ui-color2), black 73.75%), color-mix(in oklab, var(--ui-color2), white 95%));

  --ui-color3-50: light-dark(color-mix(in oklab, var(--ui-color3), white 95%), color-mix(in oklab, var(--ui-color3), black 73.75%));

  --ui-color3-100: light-dark(color-mix(in oklab, var(--ui-color3), white 87%), color-mix(in oklab, var(--ui-color3), black 58.5%));

  --ui-color3-200: light-dark(color-mix(in oklab, var(--ui-color3), white 70%), color-mix(in oklab, var(--ui-color3), black 43.5%));

  --ui-color3-300: light-dark(color-mix(in oklab, var(--ui-color3), white 47%), color-mix(in oklab, var(--ui-color3), black 28.25%));

  --ui-color3-400: light-dark(color-mix(in oklab, var(--ui-color3), white 23%), color-mix(in oklab, var(--ui-color3), black 15.5%));

  --ui-color3-500: var(--ui-color3);

  --ui-color3-600: light-dark(color-mix(in oklab, var(--ui-color3), black 15.5%), color-mix(in oklab, var(--ui-color3), white 15%));

  --ui-color3-700: light-dark(color-mix(in oklab, var(--ui-color3), black 28.25%), color-mix(in oklab, var(--ui-color3), white 47%));

  --ui-color3-800: light-dark(color-mix(in oklab, var(--ui-color3), black 43.5%), color-mix(in oklab, var(--ui-color3), white 70%));

  --ui-color3-900: light-dark(color-mix(in oklab, var(--ui-color3), black 58.5%), color-mix(in oklab, var(--ui-color3), white 87%));

  --ui-color3-950: light-dark(color-mix(in oklab, var(--ui-color3), black 73.75%), color-mix(in oklab, var(--ui-color3), white 95%));

  --ui-color4-50: light-dark(color-mix(in oklab, var(--ui-color4), white 95%), color-mix(in oklab, var(--ui-color4), black 73.75%));

  --ui-color4-100: light-dark(color-mix(in oklab, var(--ui-color4), white 87%), color-mix(in oklab, var(--ui-color4), black 58.5%));

  --ui-color4-200: light-dark(color-mix(in oklab, var(--ui-color4), white 70%), color-mix(in oklab, var(--ui-color4), black 43.5%));

  --ui-color4-300: light-dark(color-mix(in oklab, var(--ui-color4), white 47%), color-mix(in oklab, var(--ui-color4), black 28.25%));

  --ui-color4-400: light-dark(color-mix(in oklab, var(--ui-color4), white 23%), color-mix(in oklab, var(--ui-color4), black 15.5%));

  --ui-color4-500: var(--ui-color4);

  --ui-color4-600: light-dark(color-mix(in oklab, var(--ui-color4), black 15.5%), color-mix(in oklab, var(--ui-color4), white 15%));

  --ui-color4-700: light-dark(color-mix(in oklab, var(--ui-color4), black 28.25%), color-mix(in oklab, var(--ui-color4), white 47%));

  --ui-color4-800: light-dark(color-mix(in oklab, var(--ui-color4), black 43.5%), color-mix(in oklab, var(--ui-color4), white 70%));

  --ui-color4-900: light-dark(color-mix(in oklab, var(--ui-color4), black 58.5%), color-mix(in oklab, var(--ui-color4), white 87%));

  --ui-color4-950: light-dark(color-mix(in oklab, var(--ui-color4), black 73.75%), color-mix(in oklab, var(--ui-color4), white 95%));

  --ui-color5-50: light-dark(color-mix(in oklab, var(--ui-color5), white 95%), color-mix(in oklab, var(--ui-color5), black 73.75%));

  --ui-color5-100: light-dark(color-mix(in oklab, var(--ui-color5), white 87%), color-mix(in oklab, var(--ui-color5), black 58.5%));

  --ui-color5-200: light-dark(color-mix(in oklab, var(--ui-color5), white 70%), color-mix(in oklab, var(--ui-color5), black 43.5%));

  --ui-color5-300: light-dark(color-mix(in oklab, var(--ui-color5), white 47%), color-mix(in oklab, var(--ui-color5), black 28.25%));

  --ui-color5-400: light-dark(color-mix(in oklab, var(--ui-color5), white 23%), color-mix(in oklab, var(--ui-color5), black 15.5%));

  --ui-color5-500: var(--ui-color5);

  --ui-color5-600: light-dark(color-mix(in oklab, var(--ui-color5), black 15.5%), color-mix(in oklab, var(--ui-color5), white 15%));

  --ui-color5-700: light-dark(color-mix(in oklab, var(--ui-color5), black 28.25%), color-mix(in oklab, var(--ui-color5), white 47%));

  --ui-color5-800: light-dark(color-mix(in oklab, var(--ui-color5), black 43.5%), color-mix(in oklab, var(--ui-color5), white 70%));

  --ui-color5-900: light-dark(color-mix(in oklab, var(--ui-color5), black 58.5%), color-mix(in oklab, var(--ui-color5), white 87%));

  --ui-color5-950: light-dark(color-mix(in oklab, var(--ui-color5), black 73.75%), color-mix(in oklab, var(--ui-color5), white 95%));

  --ui-color6-50: light-dark(color-mix(in oklab, var(--ui-color6), white 95%), color-mix(in oklab, var(--ui-color6), black 73.75%));

  --ui-color6-100: light-dark(color-mix(in oklab, var(--ui-color6), white 87%), color-mix(in oklab, var(--ui-color6), black 58.5%));

  --ui-color6-200: light-dark(color-mix(in oklab, var(--ui-color6), white 70%), color-mix(in oklab, var(--ui-color6), black 43.5%));

  --ui-color6-300: light-dark(color-mix(in oklab, var(--ui-color6), white 47%), color-mix(in oklab, var(--ui-color6), black 28.25%));

  --ui-color6-400: light-dark(color-mix(in oklab, var(--ui-color6), white 23%), color-mix(in oklab, var(--ui-color6), black 15.5%));

  --ui-color6-500: var(--ui-color6);

  --ui-color6-600: light-dark(color-mix(in oklab, var(--ui-color6), black 15.5%), color-mix(in oklab, var(--ui-color6), white 15%));

  --ui-color6-700: light-dark(color-mix(in oklab, var(--ui-color6), black 28.25%), color-mix(in oklab, var(--ui-color6), white 47%));

  --ui-color6-800: light-dark(color-mix(in oklab, var(--ui-color6), black 43.5%), color-mix(in oklab, var(--ui-color6), white 70%));

  --ui-color6-900: light-dark(color-mix(in oklab, var(--ui-color6), black 58.5%), color-mix(in oklab, var(--ui-color6), white 87%));

  --ui-color6-950: light-dark(color-mix(in oklab, var(--ui-color6), black 73.75%), color-mix(in oklab, var(--ui-color6), white 95%));
}
