@layer ui-reset, ui;

@import "./reset.css" layer(ui-reset);

@import "./easings.css" layer(ui);
@import "./colors.css" layer(ui);

@import "./components/badge.css" layer(ui);
@import "./components/avatar.css" layer(ui);
@import "./components/accordion.css" layer(ui);
@import "./components/card.css" layer(ui);
@import "./components/chart.css" layer(ui);
@import "./components/button.css" layer(ui);
@import "./components/button-group.css" layer(ui);
@import "./components/dialog.css" layer(ui);
@import "./components/drawer.css" layer(ui);
@import "./components/checkbox.css" layer(ui);
@import "./components/color-swatch.css" layer(ui);
@import "./components/color-input.css" layer(ui);
@import "./components/date-input.css" layer(ui);
@import "./components/radio.css" layer(ui);
@import "./components/separator.css" layer(ui);
@import "./components/text-field.css" layer(ui);
@import "./components/file-drop.css" layer(ui);
@import "./components/expander.css" layer(ui);
@import "./components/focus-group.css" layer(ui);
@import "./components/textarea.css" layer(ui);
@import "./components/field.css" layer(ui);
@import "./components/radio-group.css" layer(ui);
@import "./components/select.css" layer(ui);
@import "./components/datalist.css" layer(ui);
@import "./components/combobox.css" layer(ui);
@import "./components/slider.css" layer(ui);
@import "./components/switch.css" layer(ui);
@import "./components/tooltip.css" layer(ui);
@import "./components/code.css" layer(ui);
@import "./components/kbd.css" layer(ui);
@import "./components/loading.css" layer(ui);
@import "./components/progress.css" layer(ui);
@import "./components/popover.css" layer(ui);
@import "./components/menu.css" layer(ui);
@import "./components/dropdown.css" layer(ui);
@import "./components/submenu.css" layer(ui);
@import "./components/toggle.css" layer(ui);
@import "./components/table.css" layer(ui);
@import "./components/tabs.css" layer(ui);
@import "./components/prose.css" layer(ui);
@import "./components/empty.css" layer(ui);
@import "./components/skeleton.css" layer(ui);
@import "./components/marquee.css" layer(ui);
@import "./components/tree-view.css" layer(ui);
@import "./components/pagination.css" layer(ui);
@import "./components/tag-group.css" layer(ui);
@import "./components/input-otp.css" layer(ui);
@import "./components/breadcrumbs.css" layer(ui);
@import "./components/alert.css" layer(ui);
@import "./components/toast.css" layer(ui);
@import "./components/carousel.css" layer(ui);

@layer ui {
  :root {
    --ui-spacing: 0.25em;

    --ui-spacing-1: calc(var(--ui-spacing) * 1);
    --ui-spacing-2: calc(var(--ui-spacing) * 2);
    --ui-spacing-3: calc(var(--ui-spacing) * 3);
    --ui-spacing-4: calc(var(--ui-spacing) * 4);
    --ui-spacing-5: calc(var(--ui-spacing) * 5);
    --ui-spacing-6: calc(var(--ui-spacing) * 6);
    --ui-spacing-7: calc(var(--ui-spacing) * 7);
    --ui-spacing-8: calc(var(--ui-spacing) * 8);

    --ui-background-color: var(--ui-neutral-50);
    --ui-text-color: var(--ui-neutral-950);
  }
}
