/* Header */
body > header {
  position: sticky;
  top: 0;

  border-bottom: 1px solid var(--border);

  display: grid;
  grid-template-columns: auto 1fr auto;

  align-items: center;
  padding: var(--ui-spacing-2) var(--ui-spacing-6);
  column-gap: var(--ui-spacing-4);
  background: var(--ui-background-color);
  z-index: 100;

  transition: translate 300ms var(--ease-glide);

  view-transition-name: docs-header;

  nav {
    display: flex;
    align-items: center;
    column-gap: var(--ui-spacing-4);
    padding-block: 0.5rem;

    overflow-y: clip;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      white-space: nowrap;
      flex-shrink: 0;

      &[aria-current] {
        background: var(--ui-neutral-100);
      }
    }
  }
}

.docs-logo {
  view-transition-name: docs-logo;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    inset: -0.5rem -1rem;
  }

  svg {
    fill: var(--ui-text-color);
    height: auto;
    width: auto;
  }
}

.docs-burger {
  display: flex;
  cursor: pointer;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  background-color: var(--ui-background-color);

  @media (min-width: 769px) {
    display: none;
  }
}

body:has(.home-content) .docs-burger {
  display: none !important;
}

.docs-nav-link {
  @media (max-width: 768px) {
    display: none;
  }
}
