details {
  interpolate-size: allow-keywords;

  width: 100%;
  border-bottom: 1px solid var(--ui-neutral-200);

  &::details-content {
    transition:
      block-size 300ms var(--ease-glide),
      content-visibility 200ms allow-discrete;
    overflow: hidden;
    block-size: 0;
  }

  &[open]::details-content {
    block-size: auto;
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    cursor: pointer;
    list-style: none;
    user-select: none;
    padding-block: var(--ui-spacing-3);

    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 100ms;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "";
      display: inline-block;
      background-color: currentColor;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
      mask-size: 1rem;
      mask-repeat: no-repeat;
      mask-position: center;
      width: 1rem;
      aspect-ratio: 1;
      flex-shrink: 0;
      transition: rotate 300ms var(--ease-glide);
    }

    @media (hover: hover) {
      &:hover {
        text-decoration-color: currentColor;
      }
    }

    &:focus-visible {
      outline: 2px solid var(--ui-neutral-950);
      outline-offset: 2px;
      border-radius: 0.57rem;
    }
  }

  &[open] > summary::after {
    rotate: -180deg;
  }

  > *:not(summary) {
    padding-block: var(--ui-spacing-3) var(--ui-spacing-6);
  }
}
