@import "./card.css";

article[role="alert"],
article[role="status"] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  column-gap: var(--ui-spacing-3);
  row-gap: var(--ui-spacing-1);
  color: var(--ui-neutral-950);
  padding: var(--ui-spacing-4);

  /* > svg,
  > [aria-busy] {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: start;
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
  } */

  > strong,
  > p,
  > ul,
  > ol {
    grid-column: 2;
  }

  p,
  ul,
  ol {
    color: var(--ui-neutral-600);
  }

  ul,
  ol {
    padding-inline-start: var(--ui-spacing-4);

    li {
      padding-block: 0.2em;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: auto;
  }

  > button,
  > .button {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  &:not(:has(> :nth-child(4))) {
    > button,
    > .button {
      grid-column: 3;
      grid-row: 1 / 2;
      margin: calc(var(--ui-spacing-2) * -1);
    }
  }

  &.primary {
    color: var(--ui-primary);
  }

  &.constructive {
    color: var(--ui-constructive);
  }

  &.destructive {
    color: var(--ui-destructive);
  }

  &.color1 {
    color: var(--ui-color1-600);
  }

  &.color2 {
    color: var(--ui-color2-600);
  }

  &.color3 {
    color: var(--ui-color3-600);
  }

  &.color4 {
    color: var(--ui-color4-600);
  }

  &.color5 {
    color: var(--ui-color5-600);
  }

  &.color6 {
    color: var(--ui-color6-600);
  }
}
