button,
.button {
  transition-property: translate, background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;

  background-color: var(--ui-primary);
  border: none;
  color: var(--ui-primary-fg, contrast-color(color-mix(var(--ui-primary), black 15%)));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  padding-block: var(--ui-spacing-2);
  padding-inline: var(--ui-spacing-3);
  border-radius: 0.57rem;

  font: inherit;
  line-height: calc((16 / 14) * 1rem);
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: var(--ui-primary-600);
      }
    }

    &:active {
      background-color: var(--ui-primary-700);
      translate: 0 1px;
    }

    &:focus-visible {
      outline: 2px solid var(--ui-neutral-950);
      outline-offset: 2px;
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }

  svg {
    flex-shrink: 0;
  }

  kbd {
    padding-block: 0;
    padding-inline: var(--ui-spacing);
    margin-left: auto;
  }

  .badge {
    margin-left: auto;
  }

  &[aria-busy="true"]:before {
    content: "";
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--ui-loading);
    mask-size: 1rem;
    width: 1rem;
    height: 1rem;
    mask-repeat: no-repeat;
  }

  &[popovertarget]:has(+ [popover]:popover-open) {
    background-color: var(--ui-primary-600);
    translate: 0 1px;
  }

  /* modifiers */

  &.round {
    padding-inline: var(--ui-spacing-2);
    border-radius: 100px;
  }

  &.square {
    padding-inline: var(--ui-spacing-2);
  }

  /* variants */

  &.outlined {
    color: var(--ui-neutral-950);
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--ui-neutral-200) inset;

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--ui-neutral-100);
        }
      }

      &:active {
        background-color: var(--ui-neutral-200);
      }
    }

    &[popovertarget]:has(+ [popover]:popover-open) {
      background-color: var(--ui-neutral-100);
    }
  }

  &.secondary {
    background-color: var(--ui-neutral-100);
    color: var(--ui-neutral-950);

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--ui-neutral-200);
        }
      }

      &:active {
        background-color: var(--ui-neutral-300);
      }
    }

    &[popovertarget]:has(+ [popover]:popover-open) {
      background-color: var(--ui-neutral-300);
    }
  }

  &.ghost {
    background-color: transparent;
    color: var(--ui-neutral-950);

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--ui-neutral-100);
        }
      }

      &:active {
        background-color: var(--ui-neutral-200);
      }
    }

    &[popovertarget]:has(+ [popover]:popover-open) {
      background-color: var(--ui-neutral-200);
    }
  }

  &.link {
    background-color: transparent;
    text-decoration: underline;
    color: var(--ui-neutral-950);

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: transparent;
        }
      }

      &:active {
        background-color: transparent;
      }
    }
  }

  &.destructive {
    background-color: var(--ui-destructive);
    color: var(--ui-destructive-100);

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--ui-destructive-600);
        }
      }

      &:active {
        background-color: var(--ui-destructive-700);
      }
    }

    &[popovertarget]:has(+ [popover]:popover-open) {
      background-color: var(--ui-destructive-600);
    }
  }

  &.ghost.destructive {
    background-color: transparent;
    color: var(--ui-destructive);

    &:not(:disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: var(--ui-destructive-100);
        }
      }

      &:active {
        background-color: var(--ui-destructive-200);
      }
    }

    &[popovertarget]:has(+ [popover]:popover-open) {
      background-color: var(--ui-destructive-100);
    }
  }
}
