:root {
  --card-border-radius: 12px;
}

article {
  background-color: var(--ui-neutral-0);
  box-shadow: 0 0 0 1px inset var(--ui-neutral-100);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  padding: var(--ui-spacing-4);

  &.secondary {
    box-shadow: none;
    background-color: var(--ui-neutral-100);

    > header,
    > footer {
      box-shadow: none;
    }
  }

  &.tertiary {
    box-shadow: none;
    background-color: var(--ui-neutral-200);

    > header,
    > footer {
      box-shadow: none;
    }
  }

  &.transparent {
    background-color: transparent;
  }

  &:has(> header, > footer) {
    padding: 0;
  }

  & > header,
  & > footer {
    display: flex;
    align-items: center;
    gap: var(--ui-spacing-2);
  }

  & > header {
    box-shadow: 0 0 0 1px inset var(--ui-neutral-100);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  }

  & > footer {
    box-shadow: 0 0 0 1px inset var(--ui-neutral-100);
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
  }

  &:has(> header, > footer) > * {
    padding: var(--ui-spacing-4);
  }

  &:has(> header, > footer) > :not(header):not(footer) {
    margin-inline: 1px;

    &:first-child {
      margin-top: 1px;
      border-radius: 11px 11px 0 0;
    }

    &:last-child {
      margin-bottom: 1px;
      border-radius: 0 0 11px 11px;
    }
  }
}

/* Reduce padding when the card's parent container is narrow */
@container (max-width: 320px) {
  article {
    padding: var(--ui-spacing-3);

    & > header,
    & > footer {
      padding: var(--ui-spacing-3);
      gap: var(--ui-spacing);
    }

    &:has(> header, > footer) > :not(header):not(footer) {
      padding: var(--ui-spacing-3);
    }
  }
}
