input[type="color"] {
  appearance: none;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--ui-rounded-3);
  border: 1px solid var(--ui-neutral-200);
  padding: 0.2rem;
  background: none;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: var(--ui-rounded-2);
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: var(--ui-rounded-2);
  }

  &:focus-visible {
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
  }
}
