@import "./text-field.css";
@import "./popover.css";
@import "./menu.css";

.combobox {
  display: inline-block;

  > input {
    width: 100%;
  }

  > [popover] > menu:not(:has(li:not([hidden])))::after {
    content: "No results";
    display: block;
    padding: var(--ui-spacing-2) var(--ui-spacing-3);
    color: var(--ui-neutral-400);
    text-align: center;
  }
}
