@import "./text-field.css";

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"] {
  /* Chrome makes these parts 2px taller than the line height, which makes the input 2px taller than a text input */
  &::-webkit-datetime-edit-fields-wrapper {
    padding-block: 0;
  }

  &::-webkit-calendar-picker-indicator {
    margin-block: -1px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &::-webkit-datetime-edit-day-field:focus,
  &::-webkit-datetime-edit-month-field:focus,
  &::-webkit-datetime-edit-year-field:focus,
  &::-webkit-datetime-edit-hour-field:focus,
  &::-webkit-datetime-edit-minute-field:focus,
  &::-webkit-datetime-edit-ampm-field:focus {
    background-color: var(--ui-primary);
    color: var(--ui-neutral-0);
    border-radius: var(--ui-rounded-1);
    outline: none;
  }
}
