dialog {
  container-type: inline-size;

  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 1;
  background: var(--ui-background-color);
  border: none;
  border-radius: 12px;
  padding: 0;
  max-width: min(480px, calc(100vw - 2rem));
  max-height: none;
  width: 100%;

  pointer-events: none;

  opacity: 0;
  translate: 0 4px;
  transition:
    opacity 300ms var(--ease-glide),
    translate 300ms var(--ease-glide),
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;

  &[open] {
    opacity: 1;
    translate: 0 0;
    pointer-events: auto;
  }

  @starting-style {
    &[open] {
      opacity: 0;
      translate: 0 4px;
    }
  }

  &::backdrop {
    opacity: 0;
    background: oklch(0% 0 0 / 0.4);
    backdrop-filter: blur(2px);
    transition:
      opacity 200ms var(--ease-glide),
      display 200ms allow-discrete,
      overlay 200ms allow-discrete;
  }

  &[open]::backdrop {
    opacity: 1;
  }

  @starting-style {
    &[open]::backdrop {
      opacity: 0;
    }
  }
}

body:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
  touch-action: none;
}
