@import "./dialog.css";
@import "./card.css";

dialog.drawer {
  inset: 0;
  margin: 0;
  max-width: none;
  width: min(420px, 100vw);
  height: 100vh;

  inset-inline-start: auto;
  translate: 100% 0;
  opacity: 1;

  &[open] {
    translate: 0 0;
  }

  @starting-style {
    &[open] {
      translate: 100% 0;
    }
  }

  > article {
    height: stretch;
    display: flex;
    flex-direction: column;

    footer {
      margin-top: auto;
    }
  }

  &:not([data-position]),
  &[data-position="right"] {
    > article,
    > article header,
    > article footer {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &[data-position="left"] {
    inset-inline-start: 0;
    inset-inline-end: auto;
    translate: -100% 0;

    &[open] {
      translate: 0 0;
    }

    @starting-style {
      &[open] {
        translate: -100% 0;
      }
    }

    > article,
    > article header,
    > article footer {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &[data-position="top"] {
    inset-block-start: 0;
    inset-block-end: auto;
    inset-inline: 0;
    width: 100vw;
    height: min(420px, 100vh);
    translate: 0 -100%;

    &[open] {
      translate: 0 0;
    }

    @starting-style {
      &[open] {
        translate: 0 -100%;
      }
    }

    > article,
    > article header,
    > article footer {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &[data-position="bottom"] {
    inset-block-start: auto;
    inset-block-end: 0;
    inset-inline: 0;
    width: 100vw;
    height: min(420px, 100vh);
    translate: 0 100%;

    &[open] {
      translate: 0 0;
    }

    @starting-style {
      &[open] {
        translate: 0 100%;
      }
    }

    > article,
    > article header,
    > article footer {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
