.field {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-2);

  > span:not([data-prefix]):not([data-suffix]) {
    font-weight: 600;
  }

  > small {
    color: var(--ui-neutral-500);
    font-size: 0.875em;
  }

  &:has(input:required) > span:not([data-prefix]):not([data-suffix])::after {
    content: " *";
    color: var(--ui-destructive);
  }

  > input:not([type="checkbox"]):not([type="radio"]):not([type="color"]):not(.otp),
  > textarea,
  > select,
  > progress,
  > button[popovertarget],
  > .file-drop {
    width: 100%;
  }
}

label.field {
  cursor: pointer;
}
