.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: var(--ui-spacing-1);
}

.gap-2 {
  gap: var(--ui-spacing-2);
}

.gap-3 {
  gap: var(--ui-spacing-3);
}

.gap-4 {
  gap: var(--ui-spacing-4);
}

.gap-5 {
  gap: var(--ui-spacing-5);
}

.gap-6 {
  gap: var(--ui-spacing-6);
}

.gap-7 {
  gap: var(--ui-spacing-7);
}

.gap-8 {
  gap: var(--ui-spacing-8);
}
