[data-focus-within] {
  [data-focus]:focus-visible {
    outline: none;
    box-shadow: none;
  }

  &:has([data-focus]:focus-visible) {
    border-radius: var(--ui-rounded-3);
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
  }
}
