kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5em;
  border-radius: 0.28rem;
  padding-block: calc(var(--ui-spacing) / 2);
  padding-inline: var(--ui-spacing-2);
  background: var(--ui-neutral-200);
  color: var(--ui-neutral-800);
  font-family: inherit;
  font-size: 0.85em;
  user-select: none;

  + kbd {
    margin-left: 0.5em;
  }

  &:has(> kbd) {
    background: none;
    padding: 0;
    min-width: unset;
    font-size: 1em;
    color: var(--ui-neutral-400);
    gap: 0.35em;

    > kbd {
      margin-left: 0;
    }
  }
}
