.prose {
  > * + * {
    margin-block-start: 1em;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    line-height: 1.4;
  }

  p,
  ul,
  ol {
    line-height: 1.6;
    max-width: 65ch;
  }

  > ul,
  > ol {
    list-style: revert;
    list-style-position: outside;

    display: flex;
    flex-direction: column;
    gap: 0.5lh;

    margin-block: 1.61em;

    li {
      margin-inline-start: 1.5em;

      &::marker {
        color: var(--ui-neutral-400);
        font-variant-numeric: tabular-nums;
      }
    }
  }

  > blockquote {
    /* border-inline-start: 3px solid var(--ui-neutral-200); */
    padding-inline-start: var(--ui-spacing-4);

    position: relative;
    margin-block: 1.61em;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 3px;
      left: 0;
      background-color: var(--ui-neutral-200);
      border-radius: 100px;
    }

    footer,
    cite {
      margin-top: var(--ui-spacing-2);
      color: var(--ui-neutral-500);
    }
  }

  > hgroup {
    margin-block-end: 1.61em;

    > p {
      margin-block-start: 0.61em;
      color: var(--ui-neutral-600);
    }
  }

  a:not(.button) {
    color: var(--ui-primary);
  }
}
