input[type="range"] {
  appearance: none;
  width: 100%;
  height: 0.25rem;
  border-radius: var(--ui-rounded-full);
  background: linear-gradient(to right, var(--ui-primary) calc(var(--pct, 0) * 100%), var(--ui-neutral-200) calc(var(--pct, 0) * 100%));
  cursor: pointer;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.125rem;
    aspect-ratio: 1;
    border-radius: var(--ui-rounded-full);
    background: var(--ui-background-color);
    box-shadow: 0 0 0 1.5px var(--ui-neutral-300) inset;
    transition: outline-color 100ms;
  }

  &::-moz-range-thumb {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: var(--ui-rounded-full);
    border: none;
    background: var(--ui-background-color);
    box-shadow: 0 0 0 1.5px var(--ui-neutral-300) inset;
    cursor: pointer;
  }

  /* &:focus-visible {
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
    } */

  &:focus-visible::-webkit-slider-thumb {
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
    /* box-shadow: 0 0 0 1.5px var(--ui-neutral-950) inset; */
  }

  &:focus-visible::-moz-range-thumb {
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
    /* box-shadow: 0 0 0 1.5px var(--ui-neutral-950) inset; */
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}
