input[type="checkbox"].switch {
  appearance: none;
  width: 2.25rem;
  height: 1.2lh;
  border-radius: 100px;
  box-shadow: none;
  background-color: var(--ui-neutral-300);
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: background-color 100ms;
  mask-image: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: calc(1.2lh - 2px);
    aspect-ratio: 1;
    margin-inline: 1px;
    border-radius: 50%;
    background-color: var(--ui-background-color);
    transition: left 300ms var(--ease-glide);
  }

  &:checked {
    background-color: var(--ui-primary);
    background-image: none;
    mask-image: none;

    &::after {
      left: calc(100% - 1lh - 2px - 1px);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--ui-neutral-950);
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
