textarea {
  appearance: none;
  border: none;

  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ui-neutral-200) inset;

  padding-block: var(--ui-spacing-2);
  padding-inline: var(--ui-spacing-3);
  border-radius: var(--ui-spacing-2);

  font: inherit;

  resize: vertical;
  display: block;
  width: stretch;

  &:not([rows]) {
    field-sizing: content;
    min-height: 6lh;
  }

  &:focus {
    box-shadow: 0 0 0 1px currentColor inset;
    outline: none;
  }

  &::-webkit-resizer {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cline x1='5' y1='13' x2='13' y2='5' stroke='%23888' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='9' y1='13' x2='13' y2='9' stroke='%23888' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}

article > textarea {
  box-shadow: none;
  border-radius: 0;
}
