.tree {
  position: relative;
  isolation: isolate;
  padding-inline: var(--ui-spacing-2);

  ul {
    margin-inline-start: 0.5rem; /* halv icon size */
    padding-block: 0;
    border-inline-start: 1px solid var(--ui-neutral-200);
  }

  details {
    border-bottom: none;
    padding-inline-start: var(--ui-spacing-1);

    > summary {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--ui-spacing-2);
      user-select: none;
      text-decoration: none;
      padding-block: var(--ui-spacing-2);

      &::after {
        order: -1;
        rotate: -90deg;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--ui-primary);
        }
      }

      &:focus-visible {
        outline: 2px solid var(--ui-neutral-950);
        outline-offset: 2px;
      }

      /* with two icons, the second is the "open" state, hidden until expanded */
      svg:not(:only-of-type):last-of-type {
        display: none;
      }
    }

    &[open] > summary {
      &::after {
        rotate: 0deg;
      }

      svg:not(:only-of-type):first-of-type {
        display: none;
      }

      svg:not(:only-of-type):last-of-type {
        display: inline-block;
      }
    }
  }

  li:not(:has(> details)) {
    margin-inline-start: 1rem;
    
    > button,
    > .button {
      width: 100%;
      justify-content: flex-start;
      white-space: nowrap;
    }
  }
}
